<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(function(){

  })
</script>
<h1>Item details</h1>
<p>Name{{itemDetails.item_name}}</p>
<p>views{{itemDetails.views}}</p>
<p>TAgs{{itemDetails.tags.name}}</p>

add a category to this item select one category
<form action="/products/category/{{itemDetails.id}}" method="post">
  {% csrf_token %}
  Name:<input type="text" name="name" value="">
  Parent:{{tags|safe}}
  <button type="submit" name="button">add category</button>
</form>
