<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Item name</h1>
    <button name="button">Buy this item</button>

    <form action="/products/item" method="post">
      {% csrf_token %}
      item name<input type="text" name="review">
      views<input type="text" name="review">
      description<input type="text" name="review">
      <!-- seller<input type="text" name="review"> -->
      quantity<input type="text" name="review">
      <!-- tags<input type="text" name="review"> -->
      <button type="submit" name="button">post</button>
    </form>

  </body>
</html>
