<div ng-controller="ItemCtrl">
    <table>
        <thead>
            <tr>
                <td>name</td>
                <td>price</td>
                <td>description</td>
                <td>quantity</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{ item.item_name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
        </tbody>
    </table>
    <form>
      <p>item name<input type="text" name="item" ng-model="itemForm.name"></p>
      <p>price<input type="number" name="price" ng-model="itemForm.price"></p>
      <p>description<input type="text" name="description" ng-model="itemForm.description"></p>
      <p>quantity<input type="text" name="quantity" ng-model="itemForm.quantity"></p>
      <input type="submit" name="submit" value="submit" ng-click="create_item()">
    </form>
</div>
