<div class="container">
  <h3>please log in</h3>
  <form class="userReg" action="/login" method="post">
    {% csrf_token %}
    <p>username</p>
    <input type="text" name="username" value="">
    <p>password </p>
    <input type="password" name="password" value=""> 
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <input type="submit" name="" value="submit">
    <p><a href="/register_page">New User? Register Here!</a></p>
    <p><a href="/">Back</a></p>

  </form>
</div>