<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>users</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <h2>please register</h2>
      <form class="userReg" action="/register" method="post">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <p>user name</p>
        <input type="text" name="username" value="">
        <p>Email</p>
        <input type="text" name="email" value="">
        <p>first name </p>
        <input type="text" name="first_name" value="">
        <p>last name </p>
        <input type="text" name="last_name" value="">
        <p>password </p>
        <input type="password" name="password" value="">
        <input type="password" name="confirm_pw" value="">
        <input type="submit" name="" value="submit">
        <p><a href="/login_page">already have account?</a></p>
        <p><a href="/">Back</a></p>
      </form>
    </div>
  </body>
</html>
